.wp-block-group.is-layout-constrained.wp-block-group-is-layout-constrained {
    padding: 25px;
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
    background-color: var(--wp--preset--color--tertiary);
    border: 0px;
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container li:hover {
    background-color: var(--wp--preset--color--primary);
    color: #fff;
}

p.wp-block-post-excerpt__excerpt {
    font-size: 16px;
}

button.wp-block-search__button.has-text-color.has-foreground-color.has-background.has-background-background-color.wp-element-button {
    padding: 4px;
}

.columna-blog {
    min-width: 300px;
}