@mixin button{
    border-radius: 0.9rem !important;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 1.125rem !important;
}
.wp-block-button.big a.wp-block-button__link,
.wp-block-button.shop-button a.wp-block-button__link{
    @include button;
    background: transparent url(/2023/files/2023/08/arrow-icon.png) no-repeat top left;
    padding: 1.69rem 200px 1.69rem 4rem;
    background-position: 17rem;
}
.wp-block-button.small  a.wp-block-button__link{
    @include button;
    background: transparent url(/2023/files/2023/08/arrow-icon-black-small.png) no-repeat top left;
    padding: 1.69rem 9rem 1.69rem 2.5rem;
    background-position: 17rem;
}
.wp-block-button.green  a.wp-block-button__link{
    background: #489FB5 url(/2023/files/2023/08/arrow-icon-green-black.png) no-repeat top left;
    background-color: $secondary-green;
}