@mixin button{
    font-family: $font-family-secondary;
    border-radius: 0.9rem !important;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 1.125rem !important;
    font-weight: 700;
    line-height: normal;
}
.wp-block-button.big a.wp-block-button__link,
.wp-block-button.shop-button a.wp-block-button__link{
    @include button;
    background: transparent url(/2023/files/2023/08/arrow-icon.png) no-repeat top left;
    padding: 1.69rem 200px 1.69rem 4rem;
    background-position: 17rem;
}
.wp-block-button{

    &.small  {
        a.wp-block-button__link{
            @include button;
            background: $dark-grey url(/2023/files/2023/08/arrow-icon-black-small.png) no-repeat top left;
            padding: 1.69rem 10rem 1.69rem 2.5rem;
            // background-position: 10rem;
            background-position: calc(100% - 2rem);
        }    
    }
    &.green  {
        a.wp-block-button__link{
            background-image: url(/2023/files/2023/08/arrow-icon-green-small.png);
            background-color: $secondary-green;
        }
    }
    &.white  {
        a.wp-block-button__link{
            color: $dark-grey !important;
            border-color: $dark-grey;
            background-image: url(/2023/files/2023/08/arrow-icon-white-small.png);
            background-color: $principal-white;
        }
    }
}