html{
    font-size: 16px;
}
body {
    margin: 0;
    --wp--style--global--content-size: 1014px !important;
    --wp--style--global--wide-size: 1200px;
}
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){
	max-width: 1920px;
}
body .is-layout-constrained > .alignwide {
    padding-left: var(--wp--custom--spacing--outer) !important;
    padding-right: var(--wp--custom--spacing--outer) !important;
    max-width: 1920px;
}
p{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}
.textcenter{
    text-align: center;
}
.bgwhite{
    background-color: white !important;
    color: $dark-grey !important;
    
    .wp-block-heading{
        color: $dark-grey !important;
    }
}