h1{
    color: var(--principal-orange, $orange);
    font-family: Space Grotesk;
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.875rem; /* 91.667% */
    position: relative;
    margin-bottom: 6.5rem;

    span{
        color: var(--white, $principal-white);
        font-size: 11.875rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        position: absolute;
        right: 0;
        top: 85px;
    }
}
h2{
    /* Heading 5 */
    font-family: Space Grotesk;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}