@mixin heading3{
    color: var(--white, $principal-white);

    /* Heading 3 */
    font-family: Space Grotesk;
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.875rem; /* 110% */
}
@mixin heading5{
    color: var(--white, $principal-white);

    /* Heading 5 */
    font-family: Space Grotesk;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}