@media screen and (max-width: 1550px){
    .roles-block {
        .wp-block-columns{
            padding-left: 0;

            .wp-block-column{
                flex-basis: 100%!important;
            }
        }
        h5{
            font-size: 2.8rem;
        }
    }
}
@media screen and (max-width: 1161px){
    .wordcamp-block h1{
        font-size: 5.5rem;
        span{
            font-size: 8.875rem;
        }
    } 
        
}
@media screen and (max-width: 1024px){
    .wp-block-columns .wp-block-column{
        flex-basis: 100%!important;
    }
    .community-bock p {
        font-size: 3.5rem;
        line-height: 4rem;
    }
}