@media screen and (max-width: 1550px){
    .roles-block {
        .wp-block-columns{
            padding-left: 0;

            .wp-block-column{
                flex-basis: 100%!important;
            }
        }
        h5{
            font-size: 2.8rem;
        }
    }
}
@media screen and (max-width: 1161px){
    .wordcamp-block h1{
        font-size: 6rem;
        span{
            font-size: 8.875rem;
        }
    } 
        
}
@media screen and (max-width: 1024px){
    body {
        word-wrap: break-word;
    }
    body.home .wp-site-blocks{
        background-position-y: 850px;
    }
    .wordcamp-block {
        h1{
            margin-bottom: 4rem;
            span{
                position: relative;
                right: auto;
                top: auto;
                display: block;
            }
        }
        h2{
            margin-top: -6rem;
        }
    }
    .home{
        .wp-block-columns {
            flex-wrap: wrap !important;

            .wp-block-column{
                flex-basis: 100%!important;
            }
        }
    }
    .wordcamp-block {
        margin-bottom: 10.4rem;
    }
    .why-block{
        padding-bottom: 5rem;

        h2 {
            margin-bottom: 6rem;
            text-align: center;
        }
        .wp-block-column{
            margin-bottom: 3rem;
        }
        figure,
        h4,
        p{
            text-align: center;
        }
    } 
    .roles-block {
        h5,
        p{
            text-align: center;
        }
    }
    .community-bock p {
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .faqs-block{
        h3 {
            text-align: center;
            font-size: 4.5rem;
            line-height: 5.5rem;
            margin-bottom: 3rem;
        }
        .wp-block-column{
            &:first-child{
                margin-bottom: 3rem;
            }
            .wp-block-buttons{
                position: relative;
                
                &>.wp-block-button{
                    margin: 0 auto 3rem;
                }
            } 
        }
    }
    .the-event-block {
        padding-top: 8rem !important;
        padding-bottom: 6rem !important;

        h2 {
            font-size: 5.25rem;
            margin-bottom: 3.4rem;
        }
        .items{
            padding: 0;
        }
        .item {
            font-size: 2rem;
            padding-bottom: 2rem;
        }
    }
    .wp-block-latest-posts.columns-3 li {
        width: 100% !important;
        margin-bottom: 2rem;
    }
    .last-news-block {
        padding-left: 2rem !important;
        padding-right: 2rem !important;

        h2{
            font-size: 5rem;
            line-height: 5.875rem; 
        }
    }
}
@media screen and (max-width: 630px){
    .wp-block-group.is-layout-constrained.wp-block-group-is-layout-constrained{
        padding: 10px;
    }
    .wordcamp-block h1 {
        font-size: 3.5rem;
        line-height: 4rem;
        .wordcamp-block h1 span {
            font-size: 6.875rem;
        }
    }
    .for-all-block h5 {
        font-size: 2.5rem;
    }
    .the-event-block h2 {
        font-size: 4.25rem;
    }    
    .faqs-block h3 {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }
    .last-news-block h2 {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }
}