@media screen and (max-width: 1550px){
    .roles-block {
        .wp-block-columns{
            padding-left: 0;

            .wp-block-column{
                flex-basis: 100%!important;
            }
        }
        h5{
            font-size: 2.8rem;
        }
    }
}
@media screen and (max-width: 1161px){
    .wordcamp-block h1{
        font-size: 6rem;
        span{
            font-size: 8.875rem;
        }
    } 
        
}
@media screen and (max-width: 1024px){
    .wordcamp-block h1{
        span{
            position: relative;
            right: auto;
            top: auto;
            display: block;
        }
    }
    .home{
        .wp-block-columns {
            flex-wrap: wrap !important;

            .wp-block-column{
                flex-basis: 100%!important;
            }
        }
    }
    .wordcamp-block {
        margin-bottom: 10.4rem;
    }
    .why-block h2 {
        margin-bottom: 6rem;

        figure,
        h4{
            text-align: center;
        }
        p{
            margin-bottom: 3rem;
        }
    }

    .community-bock p {
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .faqs-block{
        .wp-block-column:first-child{
            margin-bottom: 3rem;
        }
    }
}