@media screen and (max-width: 1550px){
    .roles-block {
        .wp-block-columns{
            padding-left: 0;

            .wp-block-column{
                flex-basis: 100%!important;
            }
        }
        h5{
            font-size: 2.8rem;
        }
    }
}
@media screen and (max-width: 1161px){
    .wordcamp-block h1{
        font-size: 6rem;
        span{
            font-size: 8.875rem;
        }
    } 
        
}
@media screen and (max-width: 1024px){
    .wordcamp-block h1{
        span{
            position: relative;
            right: auto;
            top: auto;
            display: block;
        }
    }
    .home{
        .wp-block-columns {
            flex-wrap: wrap !important;

            .wp-block-column{
                flex-basis: 100%!important;
            }
        }
    }
    .wordcamp-block {
        margin-bottom: 10.4rem;
    }
    .why-block{
        padding-bottom: 5rem;

        h2 {
            margin-bottom: 6rem;
            text-align: center;
        }
        .wp-block-column{
            margin-bottom: 3rem;
        }
        figure,
        h4,
        p{
            text-align: center;
        }
    } 

    .community-bock p {
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .faqs-block{
        .wp-block-column:first-child{
            margin-bottom: 3rem;
        }
        h3 {
            text-align: center;
            font-size: 4.5rem;
            line-height: 5.5rem;
            margin-bottom: 3rem;
        }
        .wp-block-column .wp-block-buttons{
            position: relative;

            &>.wp-block-button{
                margin: 0 auto 3rem;
            }
        }
    }
    .the-event-block {
        padding-top: 8rem !important;
        padding-bottom: 6rem !important;

        h2 {
            font-size: 5.25rem;
            margin-bottom: 3.4rem;
        }
        .item {
            font-size: 2rem;
            padding-bottom: 2rem;
        }
    }
    .wp-block-latest-posts.columns-3 li {
        width: 100% !important;
        margin-bottom: 2rem;
    }
}