//@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@600;700&display=swap');

//COLORS
$principal-white: #FFF;
$orange: #EB4511;
$dark-grey: #1E212B;
$light-grey: #D9D9D9;
$secondary-green: #489FB5;

$font-family: Inter, sans-serif;
$font-family-secondary: Space Grotesk, sans-serif;

:root {
    --wp--style--global--content-size: 1024px;
}
