//COLORS
$principal-white: #FFF;
$orange: #EB4511;
$dark-grey: #1E212B;
$light-grey: #D9D9D9;
$secondary-green: #489FB5;

$font-family: Inter;
$font-family-secondary: Space Grotesk;

:root {
    --wp--style--global--content-size: 1024px;
}
