//include sass template in sass main file
html{
    font-size: 16px;
}
body {
    margin: 0;
    --wp--style--global--content-size: 1014px !important;
    --wp--style--global--wide-size: 1200px;
}
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){
	max-width: 1014px !important;
}
p{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    margin-bottom: 3.2rem;
}

@import 'variables';
@import 'headings';
@import 'buttons';