
@import 'mixins';
@import 'variables';
@import 'common';
@import 'headings';
@import 'buttons';
@import 'additional';


.wordcamp-block{
    max-width: 1048px !important;
    margin-bottom: 20.4rem;

    p{
        margin-bottom: 3.2rem;
    }
}
.why-block{
    padding-bottom: 15rem;

    h2{
        @include heading5;
        margin-bottom: 9.2rem;
    }
    
    h4{
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 40px; /* 125% */
    }
    figure{
        margin-bottom: 1.9rem;
    }
    p{
        margin-block-start: 1rem;
    }

}
.community-bock {
    font-family: Space Grotesk;
    background: transparent url(/2023/files/2023/08/wp-community.jpg) top left no-repeat;
    background-size: cover;
    padding-top: 2.5rem !important;
    padding-bottom: 10rem !important;
    width: calc( 100% + 9rem );

    figure{
        margin-bottom: 3.5rem;
    }

    p{
        /* Heading 3 */
        font-family: Space Grotesk;
        font-size: 4.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 4.875rem; /* 110% */

        .lighter{
            font-family: Poppins;
            font-style: italic;
            font-weight: 300;
        }
        .font-bordered{
            color: rgba(0, 0, 0, 1);
            -webkit-text-stroke: 1px white;
            text-shadow:
                -1px 0px 0px white,
                1px 0px 0px white,
                0px -1px 0px white,
                0px 1px 0px white;
        }
    }
}
.roles-block{
    margin-top: 0;
    padding-top: 6.875rem;
    padding-bottom: 9.2rem;

    .wp-block-columns{
        padding-left: 5rem;
    }

    h5{
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    p{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
}
.for-all-block{
    padding-top: 10rem;

    h3{
        /* Heading 3 */
        font-size: 6.25rem;
        font-weight: 700;
        line-height: 6.875rem; /* 110% */
        margin-bottom: 5rem;
    }
    h5{
        color: var(--principal-orange, $orange);
        /* Heading 5 */
        font-size: 3.5rem;
        font-weight: 700;
        line-height: normal;
    }
    p{
        padding-bottom: 4rem;
    }
    .wp-block-column{
        &:after{
            opacity: 0.5;
            background: var(--white, #FFF);
        }
    }
}
.schools{
    padding-bottom: 9rem !important;

    h6{
        margin-bottom: 4rem;
    }
}
.the-event-block{
    background-color: $principal-white;
    padding-top: 12rem !important;
    padding-bottom: 10rem !important;

    h2{
        @include heading3;
        color: $dark-grey;
    }
    .items{
        padding: 0 4rem;
    }
    .item{
        display: block;
        color: var(--principal-black, $dark-grey);
        font-family: Poppins;
        font-size: 3.5rem;
        font-style: italic;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 4rem;
        padding-bottom: 3rem;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='102' height='30' viewBox='0 0 102 30' fill='none'%3E%3Cpath d='M101.414 16.4142C102.195 15.6332 102.195 14.3668 101.414 13.5858L88.6863 0.857864C87.9052 0.0768156 86.6389 0.0768156 85.8579 0.857864C85.0768 1.63891 85.0768 2.90524 85.8579 3.68629L97.1716 15L85.8579 26.3137C85.0768 27.0948 85.0768 28.3611 85.8579 29.1421C86.6389 29.9232 87.9052 29.9232 88.6863 29.1421L101.414 16.4142ZM0 17H100V13H0L0 17Z' fill='%231E212B'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right center;
        border-bottom: 0.0625rem solid #1E212B;

        span{
            color: $orange;
            font-family: Inter;
            font-size: 2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.5rem; /* 125% */
            vertical-align: sub;
            padding-left: 1rem;
        }
    }
}
.sponsors-block{
    padding: 4.25rem auto 35rem;
    h2{
        @include heading3;
    }

    .gold, .silver, .bronze{
        border-radius: 3.125rem;
    }
    .gold{
        background: var(--principal-orange, $orange);
    }
    .silver{
        color: $dark-grey;
        background: var(--principal-orange, $light-grey);
    }
    .bronze{
        background: var(--principal-orange, $secondary-green);
    }
}