//include sass template in sass main file
html{
    font-size: 16px;
}
body {
    margin: 0;
    --wp--style--global--content-size: 960px;
    --wp--style--global--wide-size: 1200px;
}
@import 'variables';
@import 'headings';