
@import 'variables';
@import 'common';
@import 'headings';
@import 'buttons';
@import 'additional';


.wordcamp-block{
    max-width: 1048px !important;
    margin-bottom: 20.4rem;

    p{
        margin-bottom: 3.2rem;
    }
}
.why-block{
    padding-bottom: 15rem;

    h2{
        margin-bottom: 9.2rem;
    }
    
    h4{
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 40px; /* 125% */
    }
    figure{
        margin-bottom: 1.9rem;
    }
    p{
        margin-block-start: 1rem;
    }

}
.community-bock {
    font-family: Space Grotesk;
    background: transparent url(/2023/files/2023/08/wp-community.jpg) top left no-repeat;
    background-size: cover;
    padding-top: 2.5rem !important;
    padding-bottom: 10rem !important;
    width: calc( 100% + 9rem );

    figure{
        margin-bottom: 3.5rem;
    }

    p{
        /* Heading 3 */
        font-family: Space Grotesk;
        font-size: 4.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 4.875rem; /* 110% */

        .lighter{
            font-family: Poppins;
            font-style: italic;
            font-weight: 300;
        }
        .font-bordered{
            color: rgba(0, 0, 0, 1);
            -webkit-text-stroke: 1px white;
            text-shadow:
                -1px 0px 0px white,
                1px 0px 0px white,
                0px -1px 0px white,
                0px 1px 0px white;
        }
    }
}
.roles-block{
    margin-top: 0;
    padding-top: 6.875rem;
    padding-bottom: 9.2rem;

    .wp-block-columns{
        padding-left: 5rem;
    }

    h5{
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    p{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
}
.for-all-block{
    
}