
@import 'mixins';
@import 'variables';
@import 'common';
@import 'headings';
@import 'buttons';
@import 'additional';

body.home,
body.page-id-875{
    background-color: $dark-grey;

    .wp-site-blocks{
        background: transparent url(/2023/files/2023/08/bg-waves.png) left 1000px no-repeat;
        background-size: contain;
    }
}
.wordcamp-block{
    max-width: 1048px !important;
    margin-bottom: 20.4rem;
    
    h1{
        color: var(--principal-orange, $orange);
        font-family: $font-family-secondary;
        font-size: 7.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 6.875rem; /* 91.667% */
        position: relative;
        margin-bottom: 6.5rem;
    
        span{
            color: var(--white, $principal-white);
            font-size: 11.875rem;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            position: absolute;
            right: 0;
            top: 85px;
        }
    }
    h2{
        font-size: 3rem;
        font-size: clamp(2.2rem, 7vw, 3rem);
        text-align: left;
        color: white;
        margin-bottom: 6rem;
        margin-top: -2rem;
    }
    p{
        color: $principal-white;
        padding-right: 2rem;
        margin-bottom: 3.2rem;
    }
}
.why-block{
    padding-bottom: 15rem;

    h2{
        @include heading5;
        font-size: clamp(2.25rem, 7vw, 3.5rem);
        margin-bottom: 9.2rem;
    }
    
    h4{
        color: $principal-white;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 40px; /* 125% */
    }
    figure{
        margin-bottom: 1.9rem;
    }
    p{
        color: $principal-white;
        margin-block-start: 1rem;
    }

}
.community-bock {
    font-family: $font-family-secondary;
    background: transparent url(/2023/files/2023/08/wp-community.jpg) center center no-repeat;
    background-size: cover;
    padding-top: 2.5rem !important;
    padding-bottom: 10rem !important;
    width: calc( 100% + 9rem );

    figure{
        margin-bottom: 3.5rem;
    }


    p{
        @include heading3;

        .lighter{
            // font-family: Poppins;
            text-decoration: underline;
            font-style: italic;
            font-weight: 300;
        }
        .font-bordered{
            //color: rgba(0, 0, 0, 1);
            color: $orange;
            -webkit-text-stroke: 2px white;
            // text-shadow:
            //     -1px 0px 0px white,
            //     1px 0px 0px white,
            //     0px -1px 0px white,
            //     0px 1px 0px white;
        }
    }
}
.roles-block{
    margin-top: 0;
    padding-top: 6.875rem;
    padding-bottom: 9.2rem;

    .wp-block-columns{
        padding-left: 5rem;
    }

    h5{
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    p{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
}
.for-all-block{
    padding-top: 10rem;

    h3{
        @include heading6;
    }
    h5{
        @include heading5;
        font-size: clamp(2rem, 7vw, 2.5rem);
        color: var(--principal-orange, $orange);
    }
    p{
        padding-bottom: 4rem;
        color: $principal-white;
    }
    .wp-block-column{
        &:after{
            opacity: 0.5;
            background: var(--white, #FFF);
        }
    }
}
.schools{
    padding-bottom: 9rem !important;

    h6{
        margin-bottom: 4rem;
    }
}
.the-event-block{
    background-color: $principal-white;
    padding-top: 12rem !important;
    padding-bottom: 10rem !important;

    h2{
        @include heading3;
        font-size: clamp(2.5rem, 6vw, 6.25rem);
        color: $dark-grey;
        margin-bottom: 5.4rem;
    }
    .items{
        padding: 0 4rem;
    }
    .item{
        display: block;
        color: var(--principal-black, $dark-grey);
        font-family: $font-family-secondary;
        font-size: 3.5rem;
        font-size: clamp(2rem, 6vw, 3.5rem);
        font-style: italic;
        font-weight: 600;
        line-height: normal;
        text-decoration: underline;
        margin-bottom: 4rem;
        padding-bottom: 3rem;

        //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='102' height='30' viewBox='0 0 102 30' fill='none'%3E%3Cpath d='M101.414 16.4142C102.195 15.6332 102.195 14.3668 101.414 13.5858L88.6863 0.857864C87.9052 0.0768156 86.6389 0.0768156 85.8579 0.857864C85.0768 1.63891 85.0768 2.90524 85.8579 3.68629L97.1716 15L85.8579 26.3137C85.0768 27.0948 85.0768 28.3611 85.8579 29.1421C86.6389 29.9232 87.9052 29.9232 88.6863 29.1421L101.414 16.4142ZM0 17H100V13H0L0 17Z' fill='%231E212B'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right center;
        border-bottom: 0.0625rem solid #1E212B;
        display: inline-block;
    }
        span{
            display: inline-block;
            color: $orange;
            font-family: Inter;
            font-size: 2rem;
            font-style: normal;
            font-weight: 600;
            text-decoration: none;
            line-height: 2.5rem; /* 125% */
            vertical-align: sub;
            padding-left: 1rem;
        }
}
.sponsors-block{
    padding: 10rem 1rem !important;

    h2{
        @include heading3;
    }
    .wp-block-columns{
        
    }
    
    .gold, .silver, .bronze{
        padding: 4.25rem 1rem 35rem;
        border-radius: 3.125rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 2.65rem;

        h3{
            @include heading3;
            margin-top: 0;
        }
        p{
            margin-bottom: 0.5rem;
            text-transform: uppercase;
        }
    }
    .gold{
        background: var(--principal-orange, $orange);
    }
    .silver{
        color: $dark-grey !important;
        background: var(--principal-orange, $light-grey);
        h3{
            color: $dark-grey !important;
        }
    }
    .bronze{
        background: var(--principal-orange, $secondary-green);
    }
}
.faqs-block{
    margin-top: 7rem;
    padding-bottom: 12rem;
    color: $principal-white;

    .wp-block-column{
        position: relative;

        .wp-block-buttons{
            position: absolute;
            bottom: 0;
        }
    }

    h3{
        @include heading3;
        font-size: clamp(2.5rem, 5vw, 6.25rem);
        color: $principal-white;
        margin-bottom: 7rem;
    }
    .wp-block-details{
        details{
            margin-bottom: 4.5rem;
        }

        &[open]{
            summary{
                border-bottom: none;

                &:after {
                    content: "-";
                }
            }
        }
        
        summary{
            @include heading2;
            font-size: clamp(2rem, 5vw, 3rem);
            list-style: none;
            border-bottom: 1px solid lightgray;
            padding-bottom: 1.44rem;

            &:after {
                content: "+";
                display: inline-block;
                float: right;
            }
        }

        p{
            margin-bottom: 1rem;
        }
    }
}
.last-news-block{
    background-color: $principal-white;
    color: $dark-grey !important;
    padding: 10rem 10rem 12rem !important;
    
    h2{
        @include heading3;
        margin-bottom: 2.5rem;
        color: $dark-grey !important;
    }
    p{
        margin-bottom: 5rem;
        max-width: 75rem;
    }
    li{
        // border-top: 1px solid $dark-grey;
        // border-bottom: 1px solid $dark-grey;
        // padding: 5rem 0rem 4rem;

        &:nth-child(1):before,
        &:nth-child(3):before{
            display: block;
            content: "";
            margin-top: 2rem;
            margin-bottom: 5rem;
            border-top: 1px solid #1E212B;
        }
        &:nth-child(1):after,
        &:nth-child(3):after{
            display: block;
            content: "";
            border-top: 1px solid #1E212B;
            margin-top: 5rem;
            margin-bottom: 2rem;
        }

    
        &:nth-child(2){
            width: calc(33.333% - 5em);
            padding: 7rem 2rem 0;
            border-radius: 1.5625rem;
            background: var(--dark-blue, $dark-grey);
            /* Drop Shadow */
            box-shadow: 5px 10px 50px 0px rgba(17, 17, 43, 0.05);
            a{
                color: $principal-white;
                text-align: center;
            }
            time{
                color: var(--principal-black, $orange) !important;
                text-align: center;
            }
        }
        &:nth-child(2):before,
        &:nth-child(2):after{
            display: none;
        }
    }
    a{
        // padding-top: 4rem;
        padding-bottom: 5rem;
        display: block;

        color: var(--principal-black, $dark-grey);
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.5rem; /* 125% */
    }
    time{
        color: var(--principal-black, $dark-grey) !important;
        text-align: right;
        padding-right: 1rem;

        @include heading5;
        font-size: 1.5rem;
        font-family: Inter;
    }
}

@import 'responsive';