:root {
  --wp--style--global--content-size: 1024px;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  --wp--style--global--content-size: 1014px !important;
  --wp--style--global--wide-size: 1200px;
}

body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 1920px;
}

body .is-layout-constrained > .alignwide {
  padding-left: var(--wp--custom--spacing--outer);
  padding-right: var(--wp--custom--spacing--outer);
  max-width: 1920px;
}

p {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.textcenter {
  text-align: center;
}

.bgwhite {
  background-color: white !important;
  color: #1E212B !important;
}
.bgwhite .wp-block-heading {
  color: #1E212B !important;
}

h1 {
  color: var(--principal-orange, #EB4511);
  font-family: Space Grotesk;
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.875rem; /* 91.667% */
  position: relative;
  margin-bottom: 6.5rem;
}
h1 span {
  color: var(--white, #FFF);
  font-size: 11.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: absolute;
  right: 0;
  top: 85px;
}

.wp-block-button.big a.wp-block-button__link,
.wp-block-button.shop-button a.wp-block-button__link {
  font-family: Space Grotesk;
  border-radius: 0.9rem !important;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 1.125rem !important;
  font-weight: 700;
  line-height: normal;
  background: transparent url(/2023/files/2023/08/arrow-icon.png) no-repeat top left;
  padding: 1.69rem 200px 1.69rem 4rem;
  background-position: 17rem;
}

.wp-block-button.small a.wp-block-button__link {
  font-family: Space Grotesk;
  border-radius: 0.9rem !important;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 1.125rem !important;
  font-weight: 700;
  line-height: normal;
  background: #1E212B url(/2023/files/2023/08/arrow-icon-black-small.png) no-repeat top left;
  padding: 1.69rem 10rem 1.69rem 2.5rem;
  background-position: 10rem;
}

.wp-block-button.green a.wp-block-button__link {
  background-image: url(/2023/files/2023/08/arrow-icon-green-small.png);
  background-color: #489FB5;
}

.faq {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.faq-item {
  border: 1px solid #ccc;
  margin: 10px 0;
  overflow: hidden;
}

.faq-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background: #f9f9f9;
  border: none;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  text-align: left;
}

.faq-symbol {
  font-size: 20px;
  font-weight: bold;
}

.faq-answer {
  display: none;
  padding: 15px;
  background: #fafafa;
  border-top: 1px solid #ccc;
}

.wordcamp-block {
  max-width: 1048px !important;
  margin-bottom: 20.4rem;
}
.wordcamp-block p {
  margin-bottom: 3.2rem;
}

.why-block {
  padding-bottom: 15rem;
}
.why-block h2 {
  color: var(--white, #FFF);
  /* Heading 5 */
  font-family: Space Grotesk;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 9.2rem;
}
.why-block h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
}
.why-block figure {
  margin-bottom: 1.9rem;
}
.why-block p {
  margin-block-start: 1rem;
}

.community-bock {
  font-family: Space Grotesk;
  background: transparent url(/2023/files/2023/08/wp-community.jpg) top left no-repeat;
  background-size: cover;
  padding-top: 2.5rem !important;
  padding-bottom: 10rem !important;
  width: calc(100% + 9rem);
}
.community-bock figure {
  margin-bottom: 3.5rem;
}
.community-bock p {
  /* Heading 3 */
  font-family: Space Grotesk;
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.875rem; /* 110% */
}
.community-bock p .lighter {
  font-family: Poppins;
  font-style: italic;
  font-weight: 300;
}
.community-bock p .font-bordered {
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px white;
  text-shadow: -1px 0px 0px white, 1px 0px 0px white, 0px -1px 0px white, 0px 1px 0px white;
}

.roles-block {
  margin-top: 0;
  padding-top: 6.875rem;
  padding-bottom: 9.2rem;
}
.roles-block .wp-block-columns {
  padding-left: 5rem;
}
.roles-block h5 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.roles-block p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.for-all-block {
  padding-top: 10rem;
}
.for-all-block h3 {
  /* Heading 3 */
  font-size: 6.25rem;
  font-weight: 700;
  line-height: 6.875rem; /* 110% */
  margin-bottom: 5rem;
}
.for-all-block h5 {
  color: var(--principal-orange, #EB4511);
  /* Heading 5 */
  font-size: 3.5rem;
  font-weight: 700;
  line-height: normal;
}
.for-all-block p {
  padding-bottom: 4rem;
}
.for-all-block .wp-block-column:after {
  opacity: 0.5;
  background: var(--white, #FFF);
}

.schools {
  padding-bottom: 9rem !important;
}
.schools h6 {
  margin-bottom: 4rem;
}

.the-event-block {
  background-color: #FFF;
  padding-top: 12rem !important;
  padding-bottom: 10rem !important;
}
.the-event-block h2 {
  color: var(--white, #FFF);
  /* Heading 3 */
  font-family: Space Grotesk;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.875rem; /* 110% */
  color: #1E212B;
  margin-bottom: 5.4rem;
}
.the-event-block .items {
  padding: 0 4rem;
}
.the-event-block .item {
  display: block;
  color: var(--principal-black, #1E212B);
  font-family: Poppins;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 4rem;
  padding-bottom: 3rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='102' height='30' viewBox='0 0 102 30' fill='none'%3E%3Cpath d='M101.414 16.4142C102.195 15.6332 102.195 14.3668 101.414 13.5858L88.6863 0.857864C87.9052 0.0768156 86.6389 0.0768156 85.8579 0.857864C85.0768 1.63891 85.0768 2.90524 85.8579 3.68629L97.1716 15L85.8579 26.3137C85.0768 27.0948 85.0768 28.3611 85.8579 29.1421C86.6389 29.9232 87.9052 29.9232 88.6863 29.1421L101.414 16.4142ZM0 17H100V13H0L0 17Z' fill='%231E212B'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  border-bottom: 0.0625rem solid #1E212B;
}
.the-event-block .item span {
  color: #EB4511;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem; /* 125% */
  vertical-align: sub;
  padding-left: 1rem;
}

.sponsors-block {
  padding: 10rem 1rem !important;
}
.sponsors-block h2 {
  color: var(--white, #FFF);
  /* Heading 3 */
  font-family: Space Grotesk;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.875rem; /* 110% */
}
.sponsors-block .wp-block-columns {
  margin-bottom: 7rem;
}
.sponsors-block .gold, .sponsors-block .silver, .sponsors-block .bronze {
  padding: 4.25rem 1rem 35rem;
  border-radius: 3.125rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2.65rem;
}
.sponsors-block .gold h3, .sponsors-block .silver h3, .sponsors-block .bronze h3 {
  color: var(--white, #FFF);
  /* Heading 3 */
  font-family: Space Grotesk;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.875rem; /* 110% */
  margin-top: 0;
}
.sponsors-block .gold p, .sponsors-block .silver p, .sponsors-block .bronze p {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.sponsors-block .gold {
  background: var(--principal-orange, #EB4511);
}
.sponsors-block .silver {
  color: #1E212B !important;
  background: var(--principal-orange, #D9D9D9);
}
.sponsors-block .silver h3 {
  color: #1E212B !important;
}
.sponsors-block .bronze {
  background: var(--principal-orange, #489FB5);
}

.faqs-block {
  padding-bottom: 12rem;
}
.faqs-block h3 {
  color: var(--white, #FFF);
  /* Heading 3 */
  font-family: Space Grotesk;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.875rem; /* 110% */
}

.last-news-block {
  background-color: #FFF;
}
.last-news-block h2 {
  color: var(--white, #FFF);
  /* Heading 3 */
  font-family: Space Grotesk;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.875rem; /* 110% */
  margin-bottom: 2.5rem;
}
.last-news-block p {
  margin-bottom: 5rem;
  max-width: 75rem;
}

/*# sourceMappingURL=main.css.map */
