/* Error: expected ")".
 *     ,
 * 131 |         color: var(--principal-black, $dark-grey;
 *     |                                                 ^
 *     '
 *   css/main.scss 131:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a     \2577 \a 131 \2502          color: var(--principal-black, $dark-grey;\a     \2502                                                  ^\a     \2575 \a   css/main.scss 131:49  root stylesheet';
}
