//include sass template in sass main file
html{
    font-size: 16px;
}
body {
    margin: 0;
    --wp--style--global--content-size: 1014px !important;
    --wp--style--global--wide-size: 1200px;
}
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){
	max-width: 1014px !important;
}
p{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    margin-bottom: 3.2rem;
}
.why{
    margin-bottom: 18rem;
}
.community-bock p{
    /* Heading 3 */
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.875rem; /* 110% */
    background: transparent url(/2023/files/2023/08/wp-community.jpg) top left no-repeat;
    background-size: cover;

    .lighter{
        font-family: Poppins;
        font-style: italic;
        font-weight: 300;
    }
    .font-bordered{
        color: rgba(0, 0, 0, 0.00);
        -webkit-text-stroke: 1px white;
        text-shadow:
            -1px 0px 0px white,
            1px 0px 0px white,
            0px -1px 0px white,
            0px 1px 0px white;
    }
}

@import 'variables';
@import 'headings';
@import 'buttons';